* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#hijo {
  background-color: #8c8c8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 20px 4px rgb(0 0 0 / 83%), 12px 20px 20px 2px #00000033;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}

h2 {
  font-size: 40px;
  margin: 25px 0 15px;
  display: inline-block;
  width: 100%;
  font-weight: 200;
  text-align: center;
}

.formu {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
  margin: 3px;
}

#id_tipo{
    margin: 3px 3px 15px 3px;
}

.formu:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

button {
  border: 2px solid transparent;
  background: #f2e41b;
  color: black;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

button:hover {
  background-color: #6e6809;
}
