<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form action="/login" method="post">
        {%csrf_token%}
    <!-- <div id="formu">
        <div><input type="text" name="username" class="info" placeholder="usuario"></div>
        <div><input type="password" name="password" class="info" placeholder="password"></div>
        <div><input type="submit" value="Iniciar sesion"></div>
    </div> -->
    <table>
        {{ form.as_table }}
    </table>
    <button> Enviar </button>
    </form>    
</body>
</html>